<div class="row">
  <div class="col-12 text-center">
    <h1>Audio Steganography</h1>
  </div>
</div>
<p-tabView>
  <p-tabPanel header="Encode" [selected]="true">
    <h2>Encode</h2>
    <div class="row m-3">
      <div class="col-6">
        <audio controls id="audioControlEncode">
          <source [src]="" type="audio/mpeg;audio/wave" id="audioSource">
        </audio>
      </div>
      <div class="col-6">
        <input type="file" id="fileAudioEncode" name="fileAudio" value="" accept="audio/mpeg;audio/wav"
          (change)="previewAudio($event)" />
      </div>
    </div>
    <div class="row m-3">
      <div class="col-6">
        File with text to encode
      </div>
      <div class="col-6">
        <input type="file" id="fileText" name="fileText" value="" accept="text/plain" (change)="previewText($event)" />
      </div>
    </div>

    <div class="row m-3" *ngIf="fileTextContent">
      <div class="col-6">
        File Content
      </div>
      <div class="col-6">
        "{{fileTextContent}}"
      </div>
    </div>
    <div class="row m-3">
      <div class="col-3">
        <input [(ngModel)]="bitIndex" type="number" min="0" max="7" placeholder="Bit Index">
      </div>
      <div class="col-3">
        <input [(ngModel)]="stepByte" type="number" min="1" [max]="maximumValueForStep"
          (change)="changeStepByte($event)" placeholder="Step Byte">
      </div>
      <div class="col-5">
        <button class="btn btn-primary" (click)="encodeWithLSB()">Encode with LSB</button>
      </div>

    </div>
    <div class="row m-3">
      <div class="col-3">
        <input [(ngModel)]="delayEchoHiding" type="number" min="0" placeholder="Delay" required step="0.01">
      </div>
      <div class="col-5">
        <button class="btn btn-primary" (click)="encodeWithEchoHiding()">Encode with Echo Hiding</button>
      </div>
    </div>
    <h3> Result</h3>
    <div class="row m-3">
      <div class="col-6">
        <audio controls id="audioControlResult">
          <source [src]="" type="audio/wave;audio/mpeg" id="audioSource">
        </audio>
      </div>
    </div>
  </p-tabPanel>
  <p-tabPanel header="Decode">
    <h2>Decode</h2>
    <div class="row m-3">
      <div class="col-3">
        <audio controls id="audioControlDecode">
          <source [src]="resultAudioUrl" type="audio/mpeg;audio/wave" id="audioSource">
        </audio>
      </div>
      <div class="col-3" *ngIf="fileAudioDecode">
        {{fileAudioDecode.name}}
      </div>
      <div class="col-2">
        Load audio to decode
      </div>
      <div class="col-4">
        <input type="file" id="fileAudioDecode" name="fileAudioDecode" value="" accept="audio/mpeg;audio/wav"
          (change)="previewAudioDecode($event)" placeholder="Load audio to decode" />
      </div>
    </div>
    <div class="row m-3">
      <div class="col-2">
        <input [(ngModel)]="bitIndex" type="number" min="0" max="7" placeholder="Bit Index">
      </div>
      <div class="col-2">
        <input [(ngModel)]="stepByte" type="number" min="1" [max]="maximumValueForStep"
          (change)="changeStepByte($event)" placeholder="Step Byte">
      </div>
      <div class="col-2">
        <input [(ngModel)]="textLength" type="number" min="1" placeholder="Text Length" required>
      </div>
      <div class="col-5">
        <button class="btn btn-primary" (click)="decodeWithLSB()">Decode with LSB</button>
      </div>

    </div>
    <div class="row">
      <div class="col-6">
        Hidden message
      </div>
      <div class="col-6">
        {{hiddenMessage}}
      </div>
    </div>
  </p-tabPanel>
  <p-tabPanel header="Waveform">
    <div class="row d-flex" *ngIf="true">
      <div class="col-12">
        <iframe style="width: 100%; height: 100vh;"
          src="https://convert.ing-now.com/mp3-audio-waveform-graphic-generator/"></iframe>

      </div>
    </div>

    <div class="row" *ngIf="false">
      <div class="col-6">
        <input type="file" id="fileAudioWaveform" name="fileAudioWaveform" value="" accept="audio/mpeg;audio/wav"
          (change)="previewAudioWaveform($event)" />
      </div>
    </div>

    <div class="row" *ngIf="false">
      <div class="col-12">
        <canvas id="view" style="width: 500px; height: 300px;"></canvas>
      </div>
    </div>

  </p-tabPanel>
</p-tabView>