<div class="row">
  <div class="col-12 text-center">
    <h1>Audio Steganography</h1>
  </div>
</div>
<div class="row mt-3">
  <div class="col-6">
    <!-- <mat-basic-audio-player [(audioUrl)]="msbapAudioUrl" [title]="msbapTitle" [autoPlay]="true"
      [displayTitle]="msbapDisplayTitle" [displayVolumeControls]="msaapDisplayVolumeControls"></mat-basic-audio-player>
     -->

    <audio controls id="audioControl">
      <source [src]="" type="audio/mpeg" id="audioSource">

    </audio>
  </div>
  <div class="col-6">
    <input type="file" id="file" name="fileAudio" value="" (change)="previewAudio($event)" />
  </div>
  <div class="row mt-3">
    <div class="col-6">

    </div>
  </div>
</div>